body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-shadow: rgb(1, 67, 190) 0 0  3px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
}

#result-text {
    font-size: 24px;
    margin-bottom: 10px;
}

